.appbar-container{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appbar-pages{
    display: flex;
    gap: 25px;
    justify-content: center;
    color: hsl(233, 8%, 62%);
    padding-top: 7px;
}
.appbar-pages span:hover{
    height: 30px;
    width: fit-content;
    border-radius: 4px;
    border-bottom: 3px solid hsl(136, 65%, 51%);
    color: rgb(4, 4, 88);
    margin-top: 5px;
    cursor: pointer;
    
}
.appbar{
    height:60px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.request-invite-btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root
{
    height: 35px;
    width:150px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    background-color: hsl(136, 65%, 51%);
    text-transform: none;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
   
}
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.request-invite-btn.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
    background-color: hsl(137, 89%, 55%);
}
#logo{
    padding-top: 8px;
}
#logo:hover{
    cursor: pointer;
}
